{% block content %}
<title>Agendamentos</title>
<div class="container py-4">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Serviço</th>
        <th>Data e Hora</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for appointment in appointments %}
        <tr>
          <td>{{ appointment.client_name }}</td>
          <td> {{ appointment.service.name }}</td>
          <td>{{ appointment.appointment_datetime }}</td>
          <td>{{ appointment.status }}</td>
          <td>
            <a href="{% url 'appointment_details' appointment.id %}" class="btn btn-sm btn-primary">Detalhes</a>
            <a href="{% url 'edit_appointment' appointment.id %}" class="btn btn-sm btn-danger">Editar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
