{% block content %}
<title>Horários Disponíveis</title>
<div class="container py-4">
  <a href="{% url 'add_barber_hours' barber_id=barber.id %}" class="btn btn-success mb-3">Adicionar Horário</a>
  {% if barber.available_hours %}
    <ul class="list-group">
      {% for key, value in barber.available_hours.items %}
        <li class="list-group-item">
          <strong>{{ key }}</strong>: {{ value }}
          <a href="{% url 'edit_barber_hours' barber_id=barber.id day=key %}" class="btn btn-sm btn-primary float-end ms-2">Editar</a>
          <a href="{% url 'delete_barber_hours' barber_id=barber.id day=key %}" class="btn btn-sm btn-danger float-end">Excluir</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Não há horários disponíveis cadastrados.</p>
  {% endif %}
</div>
{% endblock %}
