{% include 'header.html' %}
<div id="container">
<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Bem-vindo à Barbearia, {{ user.get_full_name|default:user.username }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active abrir-modal" aria-current="page" href="#" data-url="{% url 'add_appointment' %}">Agendar Horario</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gerenciar Barbearia
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item abrir-modal" href="#" data-url="{% url 'edit_barber_hours' %}">Atendimento</a></li>
            <li><a class="dropdown-item abrir-modal" href="#" data-url="{% url 'list_categories' %}">Categorias</a></li>
            <li><a class="dropdown-item abrir-modal" href="#" data-url="{% url 'list_services' %}">Serviços Prestados</a></li>
          </ul>
        </li>
        {% endif %}
        {% if user.profile.user_type == "admin" %}
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin/">Administrar Usuários</a>
        </li>
        {% endif %}
      </ul>
      <form method="post" class="d-flex" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="btn btn-secondary" type="submit">Sair</button>
      </form>
    </div>
  </div>
</nav>
<br/>
<br/>
<br/>
{% if user.profile.user_type == "usuario" %}
  <div class="alert alert-warning">
    Você tem o cadastro, mas não é um barbeiro. Algumas funcionalidades estão restritas.
    Para habilitar seu login para administrar sua barbearia, entre em contato.
  </div>
{% endif %}
{% include 'modal.html' %}
{% include 'scripts.html' %}
    <div id='calendar'></div>
  </div>
  {% include 'footer.html' %}
