{% include 'header.html' %}
<div id="container">
<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Bem-vindo à Barbearia, {{ user.get_full_name|default:user.username }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active abrir-modal" aria-current="page" href="#" data-url="{% url 'edit_barber_hours' %}">Horário de Atendimento</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gerenciar Barbearia
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item abrir-modal" href="#" data-url="{% url 'list_services' %}">Serviços Prestados</a></li>
            <li><a class="dropdown-item abrir-modal" href="#" data-url="{% url 'list_categories' %}">Categorias</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Procurar" aria-label="Procurar"/>
        <button class="btn btn-outline-success" type="submit">Procurar</button>
      </form>
    </div>
  </div>
</nav>
<br/>
<br/>
<br/>
{% include 'modal.html' %}
{% include 'scripts.html' %}
    <div id='calendar'></div>
  </div>
  {% include 'footer.html' %}
